<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}
  <h1>Create Habit</h1>
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <dir class="form-group">
        {{ form.habit_name.label(class="form-control-label") }}
        {{ form.habit_name(class="form-control form-control-lg") }}
      </dir>
      <dir class="form-group">
        {{ form.habit_desc.label(class="form-control-label") }}
        {{ form.habit_desc(class="form-control form-control-lg") }}
      </dir>
    </fieldset>
    <div class="form-group">
      {{ form.submit(class="btn-outline-info") }}
    </div>
  </form>
{% endblock content %}
